.divPrincipal {
  padding: 10px;
  flex-flow: row wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.divInput {
  margin-left: 10px;
  display: flex;
  flex: 1 1 0%;
}

.divSelect {
  display: flex;
}

.combo {
  width: 150px;
  font-family: 'Fira Code Retina', Consolas, monospace, Arial;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.labelSelect {
  margin-left: 10px;
  margin-top: -5px;
}
