.divPositiva {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
  background-color: rgb(116, 240, 209);
}

.divNegativa {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
  background-color: rgb(240, 161, 168);
}

.dia {
  margin-right: 20px;
  font-family: Consolas, monospace;
  font-weight: bold;
  font-size: 1.5rem;
}

.divDadosValue {
  display: flex;
  flex: 7 1 0%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.divDados {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.categoria {
  font-weight: bold;
  font-size: 1.2rem;
}

.descricao {
  font-size: 1.1rem;
}

.valor {
  text-align: right;
  font-family: Consolas, monospace;
  font-size: 1.8rem;
}

.divActions {
  margin-left: 10px;
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
