.divPositiva {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
  background-color: #2ecc71;
}

.divNegativa {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
  background-color: #c0392b;
}

.dia {
  margin-right: 20px;
  font-family: Consolas, monospace;
  font-weight: bold;
  font-size: 1.8rem;
  border-radius: 50%;
  border: 1px solid lightgray;
  padding: 2px;
  background-color: white;
  height: 50px;
  width: 50px;
}

.divDadosValue {
  display: flex;
  flex: 7 1 0%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.divDados {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.categoria {
  font-weight: bold;
  font-size: 1.2rem;
}

.descricao {
  font-size: 1.1rem;
}

.valor {
  text-align: right;
  font-family: Consolas, monospace;
  font-size: 1.8rem;
}

.divActions {
  margin-left: 10px;
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
